<div>
    <table class="table table-striped" style="border-style:solid; width:30%; float: left; margin-top: 48px;">
        <tr>
            <th class="col-sm-2" style="text-align: center;">Team</th>
            <th style="text-align: center;">Logo</th>
        </tr>

        <tr *ngFor="let team of teams">
            <td style="text-align: center; border-style: solid;">{{team.name}}</td>
            <td style="text-align: center;"><img style="height: 80px;" src="https://squiggle.com.au/{{team.logo}}"></td>
        </tr>
    </table>
    <br><br>
</div>

<div>
    <table class="col-sm-6" style="text-align:center; width:70%; float: left; border: solid;">
        <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Score</th>
            <th>Winer</th>
            <th>Date</th>
            <th>Venue</th>
        </tr>

        <tr *ngFor="let game of games">
            <td>{{game.hteam}}</td>
            <td>{{game.ateam}}</td>
            <td>{{game.hscore}}-{{game.ascore}}</td>
            <td>{{game.winner}}</td>
            <td>{{game.date}}</td>
            <td>{{game.venue}}</td>
        </tr>
    </table>
    <br><br>
</div>

