<div class="center">
    <div *ngIf = "team">
        <table class="center" style="background-color: #6B5B95;">
            <tr>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Score</th>
                <th>Winner</th>
                <th>Date</th>
                <th>Venue</th>
            </tr>

            <tr *ngFor ="let game of gamesVsRival">
                <td>{{game.hteam}}</td>
                <td>{{game.ateam}}</td>
                <td>{{game.hscore}}-{{game.ascore}}</td>
                <td>{{game.winner}}</td>
                <td>{{game.date}}</td>
                <td>{{game.venue}}</td>
            </tr>
        </table>
    </div>
</div>
