<nav style="background-color: orange; height: 40px; font-size: 30px;"> 
  <a routerLink="/LeagueOverview" class="navLink">LeagueOverView</a>
  <a routerLink="/Team" class="navLink">Team</a>
</nav>
<router-outlet></router-outlet>