<div>
    <div>
        <table class="center" style="background-color: #6B5B95;">
            <tr>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Date</th>
                <th>Venue</th>
            </tr>

            <tr *ngFor ="let game of futureGames">
                <td>{{game.hteam}}</td>
                <td>{{game.ateam}}</td>
                <td>{{game.date}}</td>
                <td>{{game.venue}}</td>
            </tr>
        </table>
    </div>
</div>
