<body>
    <div id="TeamDiv">
        <h2 style="margin-top: 10px; margin-bottom: 10px;">My Teams</h2>
        <ul *ngIf="hide">
            <li class="items" *ngFor="let team of teams" (click)="onSelect(team)">
                <span>{{team.id}} </span>
                <div class="col-sm"><img id="selection" src="https://squiggle.com.au/{{team.logo}}"></div>
                <figcaption>{{team.name}}</figcaption>
            </li>
        </ul>
    </div>
    <div *ngIf="hide==false"><button (click)="onShow()" style="margin-bottom: 20px;">Show team selection</button></div>
    <div *ngIf="hide==false">
        <img src="https://squiggle.com.au/{{selectedTeam.logo}}">
    </div>
    <div class="choice" *ngIf="hide==false">
        <table class=center>
            <tr>
                <th><button style="width: 60px;" (click)="onSelectYear(2021)">2021</button></th>
                <th><button style="width: 60px;" (click)="onSelectYear(2020)">2020</button></th>
                <th><button style="width: 60px;" (click)="onSelectYear(2019)">2019</button></th>
                <th><button style="width: 60px;" (click)="onSelectYear(2018)">2018</button></th>
                <th><button style="width: 60px;" (click)="onSelectYear(2017)">2017</button></th>
            </tr>
        </table>
    </div>
    <div class="choice" *ngIf="hide==false">
        <table class=center>
            <tr>
                <th><button (click)="onSelectComponent('Tip')">Tip</button></th>
                <th><button (click)="onSelectComponent('Games History')">Games Played</button></th>
                <th><button (click)="onSelectComponent('Future Games')">Future Games</button></th>
                <th><button (click)="onSelectComponent('Venues')">Venues Won</button></th>
                <th><button (click)="onSelectComponent('Games vs Rival')">Games vs Rival</button></th>
            </tr>
        </table>
    </div>
    <div *ngIf="rivalSelect==false"><button (click)="onShowRival()" style="margin-bottom: 20px; margin-left: auto; margin-right: auto;">Show rival selection</button></div>
    <div *ngIf="gamesVsRivalHide && rivalSelect">
        <h2 style="margin-left: auto; margin-right: auto;">Rival List</h2>
        <ul>
            <li class="items" *ngFor="let team of teams" (click)="onSelectRival(team)">
                <span>{{team.id}} </span>
                <div class="col-sm"><img id="selection" src="https://squiggle.com.au/{{team.logo}}"></div>
                <figcaption>{{team.name}}</figcaption>
            </li>
        </ul>
    </div>
    <div class="component">
        <app-tip [team]="selectedTeam" *ngIf="tipHide"></app-tip>
        <app-team-result [team]="selectedTeam" [year]="year" *ngIf="gamesPlayedHide"></app-team-result>
        <app-future-games [team]="selectedTeam" *ngIf="futureGamesHide"></app-future-games>
        <app-venue [team]="selectedTeam" [year]="year" *ngIf="venuesHide"></app-venue>
        <app-games-vs-rival [team]="selectedTeam" [rival]="rival" [year]="year" *ngIf="gamesVsRivalHide && rivalSelect==false"></app-games-vs-rival>
    </div>
</body>
