ul{
    list-style:none;
  }
  
ul li.items{
  height: 120px;
  width: 33%;
  float:left;
  padding:10px;
  border-bottom:1px solid #000;
  border-right:1px solid #000;
  text-align: center;
}
  
ul li:nth-child(3n){
  background-color: #6B5B95;
}
  
ul li:nth-child(3n+1){
  clear:both;
  background-color: #6B5B95;
}

ul li:nth-child(3n+2){
  background-color: orange;
}

img#selection {
  height: 50px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 250px;
  text-align: center;
}

.component {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}

.choice {
  margin-top: 80px;
}